<div class="welcome-container">
  <div *ngIf="user" class="profile-card">
    <img [src]="user.profilePhoto" alt="Profile Photo" class="profile-photo" />
    <div class="user-details">
      <h3 class="text-info">Welcome, {{ user.name }}!</h3>
      <p class="text-danger"><strong>Email:</strong> {{ user.email }}</p>
    </div>
  </div>

  <div class="additional-info">
    <p>We're glad to have you back!</p>

    <a routerLink="/home" class="btn btn-primary">Go to Dashboard</a>
  </div>
</div>

<div *ngIf="!user">
  <p>Loading User Profile...</p>
</div>